# What is R?

R is a programming langauge. It can be tailored to your needs by installing and using specific packages for statistics, analyzing biological data, data visualization, etc. You can use R interactively (e.g., enter commands into the R console), write and run R scripts, or generate reports and documents using R notebooks and markdown files. 

# Objects

Everything in R is an object. Each object has a given type, and objects can be assigned to variables.

R objects are assigned to variables using the assignment operator, '<-'
For example:

In [ ]:
a <- 1

We can look at the output using the `print()` function or by just typing `a`.

In [ ]:
print(a)

In [ ]:
a

# Variables

We can name our variables anything as long as they are a combination of letters, numbers, dots, and underscores, however:

1. Variables can't start with a number.
2. Variables can't start with a dot if it followed directly by a number (directly following letters are OK).
3. Variables can't start with an underscore.

For example:

In [ ]:
b.b <- 1.1
.cat <- 'cat' 
dog_ <- TRUE
egg <- (1L)
foo <- 2i

# Data classes

R has 5 basic data classes, including:

1. `character`, which is a string
2. `numeric`, which can be `real` (a rounded number) or `decimal` (a number including a decimal point).
3. `integer`, which can be a rounded number (but not a decimal) 
4. `logical`, which can be either `TRUE` or `FALSE`
5. `complex`, allows you to use imaginary numbers 

Let's look at the data types of our variables we have just assigned:

In [ ]:
class(a)
class(b.b)
class(.cat)
class(dog_)
class(egg)
class(foo)

The `L` we included when we assigned `egg` tells R that this object should be stored as an integer.

If you want to learn more about the `class()` function (or any other function), you can use the `?` symbol and the name of the function (for example, `?class`).

# Vectors

R objects can contain more than one element. An R object that contains more than one element is called a vector. You can create a vector using the `c()` function or directly assigning them. The `c()` function will coerce all of the arguments to a common data type and combine them to form a vector. Here's a few examples of how you can assign vectors:

In [ ]:
numeric_vector <- c(1,2,3,4,5) #makes a numeric vector
character_vector <- c('one', 'two', 'three', 'four', 'five') #makes a character vector
numeric_vector_2 <- (6:12) #this uses the sequence operator
logical_vector <- c(TRUE, TRUE, FALSE)
character_vector_2 <- c('a', 'pug', 'is', 'not', 'a', 'big', 'dog')

You can use the `length()` function to see how long your vectors are:

In [ ]:
length(character_vector_2)
length(logical_vector)

# Vector operations

You can combine vectors:

In [ ]:
combined_vector <- c(numeric_vector, numeric_vector_2)
combined_vector

You can also access elements of the vector based on the index (or its position in the vector), for example:

In [ ]:
character_vector_2[2]
character_vector_2[7]

R code evaluates from the inside out:

In [ ]:
character_vector_2[length(character_vector_2)]

Here, R is reading `length(vector_5)` first. The value returned by the `length()` function is then used to access the last entry in the vector.

We can use `-c` to remove vector elements:

In [ ]:
character_vector_2[-c(4)]

If a vector is numerical, we can also perform some math operations on the entire vector. Here, we

In [ ]:
combined_vector
sum(combined_vector)

In [ ]:
combined_vector/sum(combined_vector)

Use the `round()` function to specify you only want 3 digits reported and assign it to a variable called `rounded`

In [ ]:
rounded <- round((combined_vector/sum(combined_vector)), digits = 3)

You can also perform math operations on two vectors...

In [ ]:
rounded + combined_vector

but you'll get weird results if the vectors are different lengths:

In [ ]:
rounded + numeric_vector_2

Let's say you're trying to import some data into R, maybe a vector of measurements:

In [ ]:
your_data <- c('6','5','3','2','11','0','9','9')
class(your_data)

As you can see, there's been some formatting issues and R thinks your measurements are characters. You can coerce them back into numeric values:

In [ ]:
your_new_data <- as.numeric(your_data)
your_new_data
class(your_new_data)

What happens if we try to `as.numeric` things that aren't numbers?

In [ ]:
as.numeric(character_vector_2)

The `<NA>` indicates that these are missing values.

# Missing values

Missing values can result from things like inappropriate coersion, excel turning everything into a date, encoding format problems, etc.

In [ ]:
here_is_a_vector <- as.numeric(c(4/61, 35/52, '19-May', 3/40))

We can use the `is.na()` function to see if our vector has any `<NA>` values in it:

In [ ]:
is.na(here_is_a_vector)

You can combine this with the `table()` function to see some tabulated results from `is.na()`:

In [ ]:
table(is.na(here_is_a_vector))

You might also encounter an `NaN`, which means 'not a number' and is the result of invalid math operations:

In [ ]:
0/0

`NULL` is another one you might encounter, and it is the result of trying to query a paramter that is undefined for a specific object. For example, you can use the `names()` function to retrieve names assigned to an object. What happens when you try to use this function on an object you haven't named?

In [ ]:
names(here_is_a_vector)

You might also see `Inf` or `-Inf` which are positive or negative infinity, which result from dividing by zero or operations that do not converge:

In [ ]:
1/0

# Common functions
We have already used a few functions in this workshop. All functions need pieces of information (or arguments) to perform their particular function. Sometimes arguments are required, sometimes arguments are optional. You can use `?function` in R to learn more about a particular function.

For example, we have used the `print()` function earlier in this workshop, this function needs only one argument -- the thing you want to print.

In [ ]:
print("Hello world.")

We can also give `print()` some optional arguments. For example, we can use the `quote = FALSE` argument with `print()`.

In [ ]:
print("Hello world.", quote = FALSE)

A few other handy functions:

In [ ]:
new_vector <- c(70, 70, 90, 80, 60, 60, 90, 80, 70, 70, 70, 50)

In [ ]:
median(new_vector)

In [ ]:
mean(new_vector)

In [ ]:
summary(new_vector)

In [ ]:
hist(new_vector)

# Factors

In some situations, you might be dealing with categorical variable, which is known as a factor variable in R. A factor is a type of variable that has a set number of distinct categories into which all observations fall - for example, in a clinical trial comparing multiple treatments, a factor variable would describe which treatment a given patient received.

*Factor variables are important because R's default behavior when reading in text is to convert that text into a factor variable rather than a character variable, which can often lead to weird behavior if the user is trying to e.g. search that text.*

In [ ]:
factor.vector <- as.factor(c("Extra Small", "Small", "Small", "Large", "Medium", "Small", "Large", "Medium", "Medium", "Small", "Large", "Extra Large"))

In [ ]:
class(factor.vector)

In [ ]:
print(factor.vector)

When printing out a factor variable, R tells you the 'Levels', or all possible values the variable can take.

In [ ]:
table(factor.vector)

You can also re-order the factors in a way that makes sense to you using the `factor()` function:

In [ ]:
ordered.factor.vector <- factor(factor.vector, levels = c('Extra Small', 'Small', 'Medium', 'Large', 'Extra Large'))

In [ ]:
table(ordered.factor.vector)

You can also use the `relevel()` function to specify that there's a single factor you'd like to use as the reference factor, which will now be the first factor:

In [ ]:
releveled.factor.vector <- relevel(factor.vector, 'Medium')

In [ ]:
table(releveled.factor.vector)

In [ ]:
You can also coerce a factor to a character:

In [ ]:
character.vector <- as.character(factor.vector)

In [ ]:
class(character.vector)

We now have a character vector

In [ ]:
print(character.vector)

Notice that print doesn't return the `Levels` and each element of the vector is now in quotes.

It is also possible to convert a factor into a numeric vector if you want to:

In [ ]:
numeric.vector <- as.numeric(factor.vector)
numeric.vector

# Data frames

A table of data is called a gata frame in R. They are a group of vectors bound together to create a data frame. We can use the `data.frame()` function to create a data frame using vectors:

column.1 <- c("a", "b", "c")
column.2 <- c(1, 3, 5)
column.3 <- c(TRUE, TRUE, FALSE)
example.df <- data.frame(column.1, column.2, column.3)

example.df

# We can use the `names()`, `colnames()`, `rownames()`, and `dimnames()` functions to look at our dataframe:

In [ ]:
names(example.df)

In [ ]:
colnames(example.df)

In [ ]:
rownames(example.df)

In [ ]:
dimnames(example.df)

We can rename the columns:

In [ ]:
colnames(example.df) <- c("id", "visits", "tx.success")

In [ ]:
example.df

In [ ]:
We can use the column names to extract a single column using the notation `dataframe$column`, e.g.:

In [ ]:
example.df$visits

The `cbind()` function can be used to add more columns to a dataframe:

In [ ]:
column.4 <- c(1, 1, 1)
example.df.cbind <- cbind(example.df, column.4)
example.df.cbind

We can also rename individual columns of the dataframe using index notation, lets rename the 4th column we just added:

In [ ]:
colnames(example.df.cbind)[4] <- "survival"
example.df.cbind

In [ ]:
We can also use the `dataframe$column` notation to add a new column:

In [ ]:
column.5 <- c(3, 7, 15)
example.df.cbind$total.tx <- column.5
example.df.cbind

Elements within data frames have indices just like elements within vectors.  Since a data frame is two-dimensional rather than one-dimensional, each element has two coordinates, which you can access as `[row, column]`.

Let's revisit our previous data -- to extract the element in the first row and the first column:

example.df.cbind[1, 1]

first row second column:

In [ ]:
example.df.cbind[2, 1]

You can also pass vectors. For example, to access the first and second row of the first column:

In [ ]:
example.df.cbind[c(1, 2), 1]

The sequence operator ':' can be used to the same effect:

In [ ]:
example.df.cbind[1:2, 1]

We can also extract entire rows or columns from a data frame using 'blank notation', e.g. the following will extract ALL rows associated with the first column (i.e. it will yield the first column):

In [ ]:
example.df.cbind[, 1]

We can use a negative index to extract all data except for specified rows or columns.  Here, we will extract everything except for the second row:

example.df.cbind[-2, ]

If both dimensions are queried using vectors, the resulting output will be two-dimensional, i.e. a data frame unto itself.  Here we will extract elements 1,1; 2,1; 2,1; and 2,2, resulting in a 2x2 data frame:

In [ ]:
example.df.cbind[1:2, 1:2]

# Data frame merging

Data is often spread across more than one file. Reading each file into R will result in more than one data frame. If the data frames have some common identifying column, we can ust that common ID to combine the data frames. 

For example:

In [ ]:
first.df <- data.frame(c('Fido', 'Rex', 'Fluffy'), c(5, 3, 1), c(TRUE, TRUE, FALSE))
colnames(first.df) <- c('Name', 'Visits', 'Is_Dog')
first.df

Let's make another data frame:

In [ ]:
second.df <- data.frame(c('Scamp', 'Buddy', 'Fluffy'), column.4, column.5)
colnames(second.df) <- c('Name', 'nTails', 'TreatsPerDay')
second.df

We can use the `merge()` function to combine them:

In [ ]:
merge(first.df, second.df, by = 'Name', all = FALSE)

If we change `all = FALSE` to `all = TRUE`, R will fill in blank values as needed:

In [ ]:
merge(first.df, second.df, by = 'Name', all = TRUE)

# Working with larger data

All of the examples we have used so far are relatively small. Let's move to some approaches you can use when working with larger data.

Load the `DNase` data and turn it into a data frame:

In [ ]:
data(DNase)
DNase <- data.frame(DNase)

Let's use the `dim()`, `nrow()`, and `ncol()` functions to get the number of rows (`nrow()`), number of columns (`nrow()`), and number of both rows and columns (`dim()`)

In [ ]:
dim(DNase)

In [ ]:
nrow(DNase)

In [ ]:
ncol(DNase)

We can use the `head()` function to look at the first few lines of the data frame:

In [ ]:
head(DNase)

You can use the `n` argument to look at a different number of lines

In [ ]:
head(DNase, n = 3)

We can use the `tail()` function to look at the last few lines of the data frame:

In [ ]:
tail(DNase, n = 5)

We can also use the `str()` function, `str()` shows a number of things: the dimensions of the data frame, the names of all the variables, their classes, and a preview of the first few values for each variable.

In [ ]:
str(DNase)

The summary function, which can be applied to either a vector or a data frame (in the latter case, R applies it separately to each column in the data frame) yields a variety of summary statistics about each variable.

In [ ]:
summary(DNase)

`summary()` is informative for numerical data, but not so helpful for factor data, as in the `Run` column.

Let's make a smaller subset of the `DNase` data to work with:

In [ ]:
DNase.subset <- DNase[1:20, ]
DNase.subset

We can also sort our data. Let's look at the `conc` column:

In [ ]:
print(DNase.subset$conc)

Use the `order()` function to figure out the ascending rankings of the values

In [ ]:
order(DNase.subset$conc)

We can assign this ordering to a vector:

In [ ]:
reorder.vector <- order(DNase.subset$conc)

And use it to reorder our data frame:

In [ ]:
DNase.subset[reorder.vector, ]

Data frames can be classified into two broad categories: wide format and long format. All data frames shown so far have been presented in wide format. A wide format data frame has each row describe a sample and each column describe a feature. Here is a short example of a data frame in wide format, tabulating counts for three genes in three patients:

In [ ]:
wide.df <- data.frame(c("A", "B", "C"), c(1, 1, 2), c(5, 6, 7), c(0, 1, 0))
colnames(wide.df) <- c("id", "gene.1", "gene.2", "gene.3")
wide.df

Long format stacks features on top of one another; each row is the combination of a sample and a feature.  One column exists to denote the feature in question, and another column exists to denote that feature' value:

In [ ]:
long.df <- data.frame(c("A", "A", "A", "B", "B", "B", "C", "C", "C"), c("gene.1", "gene.2", "gene.3", "gene.1", "gene.2", "gene.3", "gene.1", "gene.2", "gene.3"), c(1, 5, 0, 1, 6, 1, 2, 7, 0))
colnames(long.df) <- c("id", "gene", "count")
long.df

These formats both contain the exact same data but represent it in different ways. Various functions exist to convert between wide and long format but these are beyond the scope of today's discussion. You can look up the `reshape2` or `tidyr` packages if you're interested in learning more about converting between long and wide formats -- alternatively, check out our tidyverse workshop.

# Matrices

R also includes another type of data structure very similar to a data frame - the 'matrix'.  The matrix is analogous to a data frame but can only contain one type of column e.g. all entries must be numeric or all entries must be text.

If an object that is supposed to be a data frame including numeric columns suddenly begins to display quotation marks around the numeric values, that is a sign that it has been coerced to a matrix.  This phenomenon occurs when e.g. a data frame is transposed and is rarely (if ever) desired behavior.

# R packages
As we have seen throughout this workshop, R has a wide variety of functions included by default; however, the true utility of R is its extensibility. It was designed to be upgraded by users, and there now exist over 12,000 user-created collections of functions - 'R packages' - in the default R repository alone. Googling your case and 'R' can help you discover new packages that will help you customize how you use R. You can install the packages using `install.packages('package_name_here')` (where you would replace 'package_name_here' with your package of choice, in quotes). This will download the package and any additional required dependencies. 
Here, we will install the 'tidyr' package:

In [ ]:
install.packages('tidyr')

Before you can actually use the package, you have to load it as follows:

In [ ]:
library('tidyr')

Most R packages are found in CRAN - the central repository for R package. However, packages can be found in different places. Many of the packages of interest for biologists will be in Bioconductor. 

There are two steps to downloading a package from Bioconductor -- first, install BiocManager:

In [ ]:
install.packages("BiocManager")

In [ ]:
Then, load `BiocManager` and use `BiocManager::install()` to install a package

In [ ]:
library('BiocManager')
BiocManager::install('IRanges')

Use the `sessionInfo()` function to see more information about your loaded R packages and namespace:

In [ ]:
sessionInfo()